# Gradle files
.gradle/
build/
out/

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Fabric / Minecraft
run/
*.log
*.log.gz
